# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/ng-vfor-lib/bundles
/dist/ng-vfor-lib/esm5
/dist/ng-vfor-lib/esm2015
/dist/ng-vfor-lib/fesm5
/dist/ng-vfor-lib/fesm2015
/dist/ng-vfor-lib/lib
/dist/ng-vfor-lib/ng*
/dist/ng-vfor-lib/package.json
/dist/ng-vfor-lib/public_api.d.ts

/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
