<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!-- <div style='height: 600px; width: 400px' class='data-list-container'>
  <div class='data-list-items-container' *ngVFor='let row of testData'>
    <body>{{row}}</body>
  </div>  
</div> -->

<div style='height: 600px; width: 400px'>
  <nggud-items-control>
    <div class='data-list-items-container' *ngVFor='let row of testData'>
        <body>{{row}}</body>
    </div>  
  </nggud-items-control>
</div>
